<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="mail">mail</label>
        <input type="text" class="form-control" name="mail" formControlName="mail">
    </div>

    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" name="password" formControlName="password">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
        submit
    </button>
    {{loginForm.status}}
</form>
