<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">{{title}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="app">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="products">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="seller">BeSeller</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="loginForm">Login</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="cartlst">CartList</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

